.header {
  border-bottom: solid 1px var(--border-color);
  background-color: var(--bg-color);
}

.header__container {
  max-width: var(--container-max-width);
  padding: 1em var(--container-offset);
  width: 100%;
  margin: auto;
  display: flex;
}
.header__logo-section {
  width: 100%;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 1em;
  text-decoration: none;
}

.header__logo-icon {
  width: 3.25em;
  height: 3.25em;
  display: block;
  background-color: black;
  border-radius: 50%;
  padding: 0.25em;
}

.header__logo-icon svg {
  width: 100%;
  height: 100%;
}

.header__logo-text {
  display: flex;
  flex-direction: column;
  gap: 0.375em;
}

.header__logo-title {
  color: var(--content-color);
  font-size: 1.125em;
}

.header__logo-author-name {
  color: var(--dimmed-color);
  font-size: 0.75em;
  text-transform: uppercase;
}

.header__page-settings {
  display: flex;
  justify-content: flex-end;
}

.header__theme-control {
  display: flex;
  align-items: center;
}

.header__theme-control > button > svg > circle {
  fill: var(--headline-color);
}
.header__theme-control > button > svg > path {
  stroke: var(--headline-color);
}

.header__theme-control > button {
  background-color: transparent;
  border: none;
  padding: 0.5em;
  display: flex;
  border-radius: 0.375em;
  cursor: pointer;
}
.header__theme-control > button:hover {
  background-color: var(--hover-color);
}

.header__theme-control > button:active {
  background-color: var(--active-color);
}
