<footer class="page-footer footer">
  <div class="footer__container align-container">

    <div class="footer__author">
      <p class="footer__author-text">Radion Pozniakov</p>
    </div>

    <div class="footer__links">
      <ul class="footer__links-list">
        <li class="footer__link-item"><a class="footer__link" href="mailto:rad@pozniakov.com">email</a></li>
        <li class="footer__link-item"><a class="footer__link" href="https://github.com/radpozniakov">github</a></li>
        <li class="footer__link-item"><a class="footer__link" href="https://www.linkedin.com/in/rodion-pozniakov-244738a4">Linkedin</a></li>
      </ul>
    </div>
  </div>
</footer>
