:root {
  color-scheme: light;
  --logo-color: #000;
  --dimmed-text-color: #585858;
  --headline-text-color: hsl(0, 0%, 0%);
  --text-color: #000000;
  --bg-color: #ffffff;
  --border-color: #e0e0e0;
  --link-highlight-color: #e5e5e5;
  --cover-pettern: url('/assets/title-cover.svg');

  --hover-color: #f0f0f0;
  --active-color: #e0e0e0;
  --card-bg-hover: #fdfdfd;
  --card-shadow-color: rgb(250, 250, 250);
}
