<main class="home-page">
  <div class="home-page__content align-container">
    
    <div class="home-page__intro">
      <h1>Not found</h1>
      <p>Have a look at some <a href="/">notes</a> I have.</p>
    </div>

  </div>
</main>
